<!DOCTYPE html>
<html>
<head>
	{% load staticfiles %}
	<title>EaseOfPayment</title>
	<link rel="stylesheet" type="text/css" href="{%static 'uikit.min.css'%}">
	<script type="text/javascript" src="{%static 'uikit.min.js'%}"></script>
	<script type="text/javascript" src="{%static 'jquery.min.js'%}"></script>
	<script type="text/javascript" src="{%static 'jqueryform.min.js'%}"></script>
	<script type="text/javascript" src="{%static 'axios.min.js'%}"></script>
	<script type="text/javascript" src="{%static 'uikit-icons.min.js'%}"></script>
	<script type="text/javascript" src="{%static 'mustache.min.js'%}"></script>
<style type="text/css">
	body{
		background-color: #e3e8ee;
	}

	.sidebar-left, .sidebar-right{
		position:fixed;
		overflow:auto;
		top:80px;
		height:100vh;
		background-color:lightgrey;
		width:200px;
	}

</style>
</head>
<body>
{%block body%}
	<div class="uk-offcanvas-content">
		<!-- the navigation bar is below -->
		{%block navbar%}
		<nav class="uk-navbar-container" uk-navbar uk-sticky="media: 960;" style="background-color: #3ac793;color: #fff;z-index: 100;">
			<div class="uk-navbar-left">
				<ul class="uk-navbar-nav">
					<li class="">
						<a href="#collapseside" uk-toggle>
							<span style="color: #fff;" class="uk-navbar-toggle uk-visible" uk-navbar-toggle-icon></span>
						</a>
					</li>
					<li>
						<div class="uk-navbar-item">
							<h3 style="color: #fff;"><a href="/" style="text-decoration:none; color: white;" >EaseOfPayment</a></h3>
						</div>
					</li>
					<li>
						<a href="#" style="color: #fff;">Tools</a>
						<div class="uk-navbar-dropdown">
							<ul class="uk-nav uk-navbar-dropdown-nav">
								<li><a href="#" class="uk-active" id="customer_care">customer care live chat</a></li>
								<li><a href="#general-modal" uk-toggle>make a transfer</a></li>
								<li><a href="#agent-modal" uk-toggle>Verify Bank account details</a></li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
			<div class="uk-navbar-center uk-visible@l">
				<ul class="uk-navbar-nav">
					<div class="uk-navbar-item">
						<input placeholder="Search..." type="search" name="q" class="uk-input"><button class="uk-button uk-button-default" style="color: #fff;">Search</button>
					</div>
				</ul>
			</div>
			<div class="uk-navbar-right uk-visible@s">
				<ul class="uk-navbar-nav">
					{%if not request.user.is_authenticated%}
					<li><a href="/accounts/login" class="uk-active" style="color: #fff;">Login</a></li>
					<li><a href="/accounts/signup" style="color: #fff;" class="">Sign Up</a></li>
					{%endif%}
					{%if request.user.is_authenticated%}
					<li><a href="/accounts/logout" style="color: #fff;">Logout</a></li>
					{%endif%}
				</ul>
			</div>
		</nav>
		{%endblock%}
		<!-- this is for the offcanvas -->
		<div id="collapseside" uk-offcanvas="mode:push; overlay:true;">
			<div class="uk-offcanvas-bar" style="background-color: #fff;">
				{%block off-canvas%}
				{%endblock%}
			</div>
		</div>
		{%block generalmodal%}
		<div id="general-modal" class="uk-modal-container " uk-modal="">
			<!-- everything to be in the modal will appear here -->
			<div class="uk-modal-dialog uk-margin-auto-vertical">
				<a class="uk-modal-close-default" href="" uk-close></a>
				<div class="uk-modal-header">
					{%block generalmodal_title%}
					<nav class="uk-navbar-container" style="background-color:white;border-bottom: 1px solid #3ac793;  margin-top:10px;" uk-navbar>
						<strong>Make payment</strong>
					</nav>
					{%endblock%}
				</div>
				<div id="modalbody" class="uk-modal-body" uk-overflow-auto style="z-index: 110;">
					{%block generalmodal_body%}
					<div class="uk-card uk-card-default uk-card-body uk-form-horizontal" style="min-height:200px; width: 100%;">
						<form id="make_payment_form" enctype="multipart/form-data" action="" method="POST">
							{%csrf_token%}
							<article class="uk-article" style="color: #3ac793;">Welcome!<br>This wizard is to help you transfer fund to another account on the Ease of Payment platform</article>
							<div id="house_form">
								<legend class="uk-legend uk-form-width-large">Make Payment</legend><br>
								<div class="uk-margin">
									<input class="uk-input uk-form-width-large" type="text" name="reference_id" id="caption" placeholder="Receiver's reference id">
								</div>
								
								<div class="uk-margin">
									<input class="uk-input uk-form-width-large" type="number" name="amount" id="amount" placeholder="amount">
								</div>
							</div>
							
						</form>
					</div>
					
					<script type="text/javascript">
						//this is the javascript code for this file. Note that each file has it's own javascript code. At the end of the whole design the javascript code need to be separated from the html tags or design. make sure that jquery is added or else the jquery codes here is not going to work at all.
						$('#send_house').click(function(e){
							e.preventDefault();
							$('#make_payment_form').ajaxSubmit({
								beforesubmit:function(){},
								success: function(response){
									if(response == 'successful'){

									}
								}
							});
						});
					</script>
					{%endblock%}
				</div>
				<div class="uk-modal-footer uk-text-right">
					{%block generalmodal_footer%}
					<button class="uk-button uk-button-danger uk-modal-close" type="button">cancel</button>
					{%endblock%}
				</div>
			</div>
		</div>
		{%endblock%}
		{%block agentmodal%}
		<div id="agent-modal" class="" uk-modal="">
			<div class="uk-modal-dialog uk-margin-auto-vertical">
				<a class="uk-modal-close-default" href="" uk-close></a>
				<div class="uk-modal-header">
					<h3 style="color:#3ac793;" class="uk-modal-title">Make Payment</h3>
				</div>
				<div id="modalbody" class="uk-modal-body" uk-overflow-auto>
					<form id="verify_bank_details" action="" method="POST" enctype="multipart/form-data">
						<article style="color:#3ac793; ">Welcome! Please put your bank account number to verify your bank account details</article>
						<div class="uk-margin">
							<input class="uk-input uk-form-width-large" type="text" name="account_number" id="caption" placeholder="Receiver's reference id">
						</div>
						<div class="uk-margin">
							<span  class="uk-button" name="" id="submit_message_form" style="background-color: #3ac793; color: white;">Submit</span>
						</div>
					</form>	
					<script type="text/javascript">
					$('#submit_messageform').click((e) => axios({
						method: 'post',
						baseURL: 'https://sandboxapi.fsi.ng',
						url: '/atlabs/messaging',
						data: {
							"to": 		"+2348107905404",
							"from":		"FSI",
							"message":	"Hello World",
						  },
						headers: {
						"Sandbox-Key": "a488314e4334976c483b0a81debcf526",
						"Content-Type": "application/json",
						}
						}).then((response) => console.log(response)).catch((error) => console.log(error));	
				</script>	
				</div>
				<div class="uk-modal-footer uk-text-right">
					<button class="uk-button uk-button-danger uk-modal-close" type="button">cancel</button>
				</div>
				<template id="dialog-modal-template">
					<div id="dialog-body" class="uk-card-body uk-card" style="color:#3ac793;">
						
					</div>
				</template>
				<script type="text/javascript">
					// $('#verify_bank_details').submit(function(e){
					// 	e.preventDefault();
					// 	$.ajaxSubmit({
					// 		beforesubmit:function(){},
					// 		success: function(response){
					// 			if(response.error){
					// 				$('#dialog-body').html('An error was ecountered in your form<br>'+response.response);
					// 				$('#dialog-modal-template').html();
					// 				UIkit.modal.dialog($('#dialog-modal-template').html());
					// 			}else{
					// 				$('#dialog-body').html(response.response);
					// 				$('#dialog-modal-template').html();
					// 				UIkit.modal.dialog($('#dialog-modal-template').html());
					// 			}
					// 		}
					// 	})
					// })
					// $('#submit_form').click((e) => axios({
					// 	method: 'post',
					// 	baseURL: 'https://sandboxapi.fsi.ng',
					// 	url: '/atlabs/messaging',
					// 	data: {
					// 		"to": 		"+2348107905404"
					// 		"from":		"FSI"
					// 		"message":	"Hello World"
					// 	  },
					// 	headers: {
					// 	"Sandbox-Key": "a488314e4334976c483b0a81debcf526",
					// 	"Content-Type": "application/json",
					// 	}
					// 	}).then((response) => console.log(response)).catch((error) => console.log(error));	
				</script>
			</div>
		</div>
		{%endblock%}
		{%block content%}
		<div class="uk-container">
			<div class="uk-child-width-1-2@s uk-child-width-1-3@m  uk-grid-small" uk-grid uk-grid-match>
			</div>
		</div>
		{%endblock%}
	</div>
	
{%endblock%}
{%block framework%}
{%endblock%}
{%block bottom_navbar%}
<style type="text/css">
	.highlight{
		background-color:#3ac793;
		color: navy;
		padding: 20px;
		min-height: 300px;
	}
	.highlight2{
		background-color:white;
		color: #777;
		padding: 20px;
		min-height: 300px;
	}
	.highlight3{
		background-color:lightgrey;
		color: #777;
		padding: 20px;
		min-height: 300px;
	}
</style>
<div id="stick_bottom_navbar"></div>
<div id="bottom_navbar" class="bottom_navbar">
	<div class="uk-child-width-1-2@l uk-margin-remove-bottom" uk-grid uk-grid-match>
		<div class="highlight uk-margin-remove-bottom" uk-scrollspy="cls: uk-animation-scale-down; repeat: true">
			<h1 style="margin-left:20px; color: white;" class="uk-position-center uk-text-center uk-position-relative uk-margin-auto-vertical">
				<h1>It is our goal that monetary transactions becomes an easy one for you</h1><br>
				<span class="uk-position-bottom-center uk-position-relative" uk-icon="ratio:4; icon:home;"></span>
			</h1>
		</div>
		<div class="highlight uk-margin-remove-top" uk-scrollspy="cls: uk-animation-fade; repeat: true; delay:1000;">
			<h1 style="margin-left:20px; color: white;" class="uk-position-center uk-text-center uk-position-relative uk-margin-auto-vertical">
				<h1>Transact without cash</h1><br>
				<span class="uk-position-bottom-center uk-position-relative" uk-icon="ratio:4; icon:users;"></span>
			</h1>
		</div>
	</div>
	<div class="uk-child-width-1-2@l uk-margin-remove-top" uk-grid uk-grid-match>
		<div class="highlight2 uk-margin-remove-bottom" uk-scrollspy="cls: uk-animation-slide-left; repeat: true">
			<div style="margin-left:20px; color: #3ac793;" class="uk-position-center uk-text-center uk-position-relative uk-margin-auto-vertical">
				<br><br><h1 style="margin-left:20px; color: #777;">With our end-to-end token verification algorithm you are protected from fraud, transact without panicking</h1><br>
				<canvas id="myChart2" width="400" height="400"></canvas>
				<!-- <span class="uk-position-bottom-center uk-position-relative" uk-icon="ratio:4; icon:home;"></span> -->
			</div>
		</div>
		<div class="highlight3 uk-margin-remove-top" uk-scrollspy="cls: uk-animation-fade; repeat: true">
			<div style="margin-left:20px; color: white;" class="uk-position-center uk-text-center uk-position-relative uk-margin-auto-vertical">
				<br><br><h1 style="margin-left:20px; color: green;">Make payment at a go!</h1><br>
				<canvas id="myChart" width="400" height="400"></canvas>
				<!-- <span class="uk-position-bottom-center uk-position-relative" uk-icon="ratio:4; icon:users;"></span> -->
			</div>
		</div>
	</div>
	<div style="background-color: white;" class="students uk-margin-rmove-top">
		<h2 class="uk-position-top-center uk-position-relative uk-text-center">We are everywhere you need us</h2><br>
		<span class="uk-position-bottom-center uk-position-relative" uk-icon="ratio:3; icon:file-edit;"></span>
		<div class="uk-container">
			<div class="uk-child-width-auto uk-margin-remove-top" uk-grid uk-grid-match>
				<div class="highlight2 uk-margin-remove-bottom" uk-scrollspy="cls: uk-animation-scale-up; repeat: true' delay:500;">
					<div style="margin-left:20px; margin-bottom: 10px; color: #3ac793;" class="uk-position-center uk-text-center uk-position-relative uk-margin-auto-vertical"><h3>Transport</h3>
						<span class="uk-position-bottom-center uk-position-relative" uk-icon="ratio:5; icon:home;"></span>
					</div>
				</div>
				<div class="highlight2 uk-margin-remove-bottom" uk-scrollspy="cls: uk-animation-scale-up; repeat: true' delay:500;">
					<div style="margin-left:20px; margin-bottom: 10px; color: #3ac793;" class="uk-position-center uk-text-center uk-position-relative uk-margin-auto-vertical"><h3>Flight</h3>
						<span class="uk-position-bottom-center uk-position-relative" uk-icon="ratio:5; icon:home;"></span>
					</div>
				</div>
				<div class="highlight2 uk-margin-remove-bottom" uk-scrollspy="cls: uk-animation-scale-up; repeat: true' delay:500;">
					<div style="margin-left:20px; margin-bottom: 10px; color: #3ac793;" class="uk-position-center uk-text-center uk-position-relative uk-margin-auto-vertical"><h3>School</h3>
						<span class="uk-position-bottom-center uk-position-relative" uk-icon="ratio:5; icon:home;"></span>
					</div>
				</div>
				<div class="highlight2 uk-margin-remove-bottom" uk-scrollspy="cls: uk-animation-scale-up; repeat: true' delay:500;">
					<div style="margin-left:20px; margin-bottom: 10px; color: #3ac793;" class="uk-position-center uk-text-center uk-position-relative uk-margin-auto-vertical"><h3>Health Centers</h3>
						<span class="uk-position-bottom-center uk-position-relative" uk-icon="ratio:5; icon:home;"></span>
					</div>
				</div>
				<div class="highlight2 uk-margin-remove-bottom" uk-scrollspy="cls: uk-animation-scale-up; repeat: true' delay:500;">
					<div style="margin-left:20px; margin-bottom: 10px; color: #3ac793;" class="uk-position-center uk-text-center uk-position-relative uk-margin-auto-vertical"><h3>Open Market</h3>
						<span class="uk-position-bottom-center uk-position-relative" uk-icon="ratio:5; icon:home;"></span>
					</div>
				</div>
				<div class="highlight2 uk-margin-remove-bottom" uk-scrollspy="cls: uk-animation-scale-up; repeat: true' delay:500;">
					<div style="margin-left:20px; margin-bottom: 10px; color: #3ac793;" class="uk-position-center uk-text-center uk-position-relative uk-margin-auto-vertical"><h3>Hotels</h3>
						<span class="uk-position-bottom-center uk-position-relative" uk-icon="ratio:5; icon:home;"></span>
					</div>
				</div>
				<div class="highlight2 uk-margin-remove-bottom" uk-scrollspy="cls: uk-animation-scale-up; repeat: true' delay:500;">
					<div style="margin-left:20px; margin-bottom: 10px; color: #3ac793;" class="uk-position-center uk-text-center uk-position-relative uk-margin-auto-vertical"><h3>Bank</h3>
						<span class="uk-position-bottom-center uk-position-relative" uk-icon="ratio:5; icon:home;"></span>
					</div>
				</div>
				<div class="highlight2 uk-margin-remove-bottom" uk-scrollspy="cls: uk-animation-scale-up; repeat: true' delay:500;">
					<div style="margin-left:20px; margin-bottom: 10px; color: #3ac793;" class="uk-position-center uk-text-center uk-position-relative uk-margin-auto-vertical"><h3>Retail shops</h3>
						<span class="uk-position-bottom-center uk-position-relative" uk-icon="ratio:5; icon:home;"></span>
					</div>
				</div>
			</div>
		</div>
		<h2 class="uk-position-top-center uk-position-relative uk-text-center">We are everywhere you need us</h2><br>
		<span class="uk-position-bottom-center uk-position-relative" uk-icon="ratio:3; icon:file-edit;"></span>
	</div>
	<div class="uk-container">
		<div class="">
			
		</div>
	</div>
</div>
{%block chat%}
{%endblock%}
{%endblock%}
</body>
<script type="text/javascript" src="{%static 'uikit.min.js'%}"></script>
<script type="text/javascript">
	function openmodal(){
		UIkit.modal.confirm('confirm your actions').then(function(){
			UIkit.modal.dialog(document.getElementById('dialoger').innerHTML);
		}, function(){
			UIkit.modal('#modal').show()
		});
	}
</script>
</html>