<!DOCTYPE html>
<html>
<head>
	<title>{%block title%}EaseOfPayment{%endblock%}</title>
</head>
<body>
	{%block header%}
	<div class="header">
		<h2>EaseOfPayment</h2>
		<div class="header-elements">
			<ul>
				<li class="list-item">
					<a href="">make payment</a>
				</li>
				<li class="list-item">
					<a href="">make payment</a>
				</li>
			</ul>
		</div>
	</div>
	{%endblock%}
	{%block content%}
		<div class="content">
			This is the body of the website we have here
		</div>
	{%endblock%}
</body>
</html>